.root {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: var(--token-wwiTpoTga);
  position: relative;
  min-width: 0;
  min-height: 0;
  padding: var(--token-YUBHx8Uun);
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - var(--token-YUBHx8Uun));
  height: calc(100% + var(--token-YUBHx8Uun));
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: var(--token-YUBHx8Uun);
}
.freeBox___1OfBb {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 10px;
}
.title__woRRs:global(.__wab_instance) {
  position: relative;
  margin-bottom: 0;
}
.svg__frnp4 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-vS4Jcb5vV);
  transform: scaleX(1) scaleY(1) scaleZ(1);
  width: var(--token-TOt_S0K1v);
  height: var(--token-TOt_S0K1v);
}
.cardWall__g1QKp:global(.__wab_instance) {
  position: relative;
  align-self: auto;
}
.text__eUhzc {
  text-align: left;
}
.iconRow__t8GOu:global(.__wab_instance) {
  position: relative;
}
.svg__cntwq {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 100%;
  height: 100%;
  color: var(--token-bTKTLpOlW);
  min-width: 0;
  min-height: 0;
}
.iconRow__p8V1D:global(.__wab_instance) {
  position: relative;
}
.svg___61NaU {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 100%;
  height: 100%;
  color: var(--token-bTKTLpOlW);
  min-width: 0;
  min-height: 0;
}
.iconRow__kvB61:global(.__wab_instance) {
  position: relative;
}
.svg__zSrxa {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 100%;
  height: 100%;
  color: var(--token-bTKTLpOlW);
  min-width: 0;
  min-height: 0;
}
.button___1Mbl2:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.svg__xHbr9 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___6NPOq {
  text-align: center;
  text-decoration-line: none !important;
}
.svg___75ASg {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.cardWall__kbvga:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 40px;
  flex-shrink: 0;
  display: flex;
}
.button___73Oyb:global(.__wab_instance) {
  position: relative;
  margin-top: -2rem;
}
.svg__myoLb {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__k83Dd {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__hm8Hu {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  display: none;
  padding: 8px;
}
.freeBoxwithFooter__hm8HuCxtSg {
  display: flex;
}
