.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  background: none;
  overflow: auto;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 16px;
}
.page:global(.__wab_instance) {
  position: relative;
}
.title:global(.__wab_instance) {
  position: relative;
  margin-bottom: 0;
}
.svg__uzLOs {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-vS4Jcb5vV);
  transform: scaleX(1) scaleY(1) scaleZ(1);
  width: var(--token-TOt_S0K1v);
  height: var(--token-TOt_S0K1v);
}
.cardWall:global(.__wab_instance) {
  position: relative;
  align-self: auto;
}
.text__sfLcu {
  text-align: left;
}
.issueDateRow:global(.__wab_instance) {
  position: relative;
}
.calendarIcon {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 100%;
  height: 100%;
  color: var(--token-bTKTLpOlW);
  min-width: 0;
  min-height: 0;
}
.paymentRow:global(.__wab_instance) {
  position: relative;
}
.cashIcon {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 100%;
  height: 100%;
  color: var(--token-bTKTLpOlW);
  min-width: 0;
  min-height: 0;
}
.text__gIh4D {
  padding-right: 0px;
}
.totalConsumptionRow:global(.__wab_instance) {
  position: relative;
}
.cashIcon2 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 100%;
  height: 100%;
  color: var(--token-bTKTLpOlW);
  min-width: 0;
  min-height: 0;
}
.freeBox {
  padding-right: 0px;
  display: flex;
  flex-direction: row;
}
.text__ctuW {
  padding-right: 0px;
}
.dueDateRow:global(.__wab_instance) {
  position: relative;
}
.dueDateIcon {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 100%;
  height: 100%;
  color: var(--token-bTKTLpOlW);
  min-width: 0;
  min-height: 0;
}
.downloadBillBtn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__bPaJp {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.hiddenCard:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 40px;
  display: flex;
}
.enterIdxBtn:global(.__wab_instance) {
  position: relative;
  margin-top: -2rem;
}
.svg__j4Oqe {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__vE3CE {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
